<form action="/users/create" method="post">
<p>Nome: <input type="name" name="name" placeholder="Digite seu nome"></p>
<p>Email: <input type="email" name="email" placeholder="Digite seu email"></p>
</form>